<%- include('../partials/header') %> 
    <title>Welcome to the Farm Stand</title>
</head>
<body>
    <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
    <h1>Welcome to the Farm Stand Farms</h1>
    <a href="/farms/new"><button class="ui green button">Create a New Farm</button></a> 
    <a href="/products/new"><button class="ui green button">Create a New Standalone Product</button></a> 
    <%- include('../partials/footer') %> 
    </div>
    </div>